@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&family=Quicksand:wght@300;500;700&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Custom Properties */
:root {
    --clr-primary: #FFD8D8;
    --clr-secondary: #8B4513;
    --clr-fontcolor: #333333;
    --clr-neutral: #FEEAD0;



    /* Typography */
    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Quicksand', sans-serif;

    /* Font Sizes */
    --fs-300: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    --fs-400: clamp(1rem, 0.929rem + 0.36vw, 1.125rem);
    --fs-500: clamp(1.125rem, 1.027rem + 0.49vw, 1.313rem);
    --fs-600: clamp(1.313rem, 1.156rem + 0.78vw, 1.625rem);
    --fs-700: clamp(1.5rem, 1.321rem + 0.89vw, 1.875rem);

    /* Font Weights */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-bold: 700;

    /* Spacing */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;

    /* Border Radius */
    --border-radius: 5px;

    /* Transitions */
    --transition: all 0.3s ease;
}

/* Base Styles */
body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    line-height: 1.5;
    color: var(--clr-neutral-900);
    background-color: var(--clr-neutral);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--ff-secondary);
}

a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

