/* Footer & Copyright */



footer {
    display: flex;
    flex-direction: column;
    padding: 2rem 0.25rem;
    background-color: var(--clr-primary);
}

.footer-top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
    padding: 1rem 0;
}


.footer-cta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem 1rem;
    padding: 1rem 0;
    border-top: 2px solid var(--clr-accent);
    border-bottom: 2px solid var(--clr-accent);

}

@media (max-width: 768px) and (orientation: portrait) {

    .footer-top {
        display: flex;
        flex-direction: column;
        gap: 3rem;

    }

}



footer p {
    color: var(--clr-secondary) !important;
    text-transform: uppercase;
    font-size: clamp(18px, 2vw, 20px);
    line-height: 1.2;
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    color: var(--clr-accent);
    font-weight: 700;



}

footer p:hover {
    color: var(--clr-accent);
    font-weight: 900;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 0.50rem;
    padding: 0;
    width: fit-content;
}

.footer-social-media {
    display: flex;
    flex-direction: row;
    gap: 0.50rem;
    justify-content: center;
    align-items: center;
    padding: 0.20rem;
    background-color: var(--clr-neutral-100);
    border: 1px solid var(--clr-accent);
    border-radius: 50px;
    padding: 0.25rem 0.75rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Add this line for box shadow */
}

.footer-social-media-image {
    width: 20px;
    height: 20px;
}

.instagram-name {
    color: var(--clr-neutral-900);
    font-size: clamp(10px, 2vw, 12px);
    text-decoration: none;
    font-family: var(--ff-secondary);
    font-weight: 500;
}



footer div {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}



.footer-icon {
    width: 150px;
    height: auto;
}

.footer-navlist {
    list-style-type: none;
    padding: 0.40rem;


}

.footer-list-item {
    text-transform: capitalize;
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.3;
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    font-weight: 300;
}



.footer-list-item a {
    text-decoration: none;
    color: var(--clr-neutral-900);

}

.footer-list-item a:hover {
    color: var(--clr-secondary);
    font-weight: 500;
    transform: scale(1.05);
    /* Slightly enlarge */
    transition: transform 0.2s ease;
    /* Smooth transition */
}




.book-an-appointment,
.rateusongoogle,
.get-directions {
    color: var(--clr-secondary);
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.3;
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.book-an-appointment:hover,
.rateusongoogle:hover,
.get-directions:hover {
    color: var(--clr-neutral-900);
}

/* CopyRight */

.copyright-container {
    display: flex;
    justify-content: end;
    margin: 0 auto;
    padding: 0.50rem;

}


#element-to-show {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    font-family: var(--ff-secondary);
    font-size: clamp(12px, 2vw, 14px);

}

#element-to-show p {
    color: var(--clr-accent);
}


.designer,
.copyright {
    text-decoration: none;
    color: var(--clr-secondary);
}


.designer {
    color: #ff4500;
    font-family: var(--ff-secondary);
}


.error-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 1240px;
    margin: 0 auto;
    margin: 2rem 1rem;
    opacity: 0;
    /* Start hidden */
    animation: fadeIn 0.5s forwards;
    /* Fade in animation */
}

.error-container div {
    flex: 1;
}

.error-container div:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

.error-page-title {
    color: var(--clr-secondary);
    font-family: var(--ff-accent);
    font-size: clamp(30px, 8vw, 50px);
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    margin-top: 2rem;
}

.error-container div:nth-child(1) p {
    color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.3;
    letter-spacing: 1px;
    text-align: center;
    margin: 0 1rem;
}

.error-container div:nth-child(2) {}


.css-button-arrow--black {
    fill: var(--clr-neutral-900);

}



.css-button-arrow--black {
    min-width: 130px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 2px solid var(--clr-accent);
    color: var(--clr-secondary) !important;
    background: transparent;
    z-index: 0;
    font-family: var(--ff-secondary);
    font-size: clamp(12px, 2vw, 14px);
    font-weight: 500;
    text-align: center;
}

.css-button-arrow--black:hover:after {
    top: 0;
    left: 0;
}

.css-button-arrow--black:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: var(--clr-primary);
}

.css-button-arrow--black:hover {
    color: var(--clr-accent);
}

.css-button-arrow--black:hover {
    line-height: 1.3;
    text-decoration: none;
}


@media (max-width: 768px) and (orientation: portrait) {

    .error-container {
        flex-direction: column;
        min-height: 80dvh;
        gap: 3rem;

    }

}

@keyframes fadeIn {
    to {
        opacity: 1;
        /* Fully visible */
    }
}