@media (max-width: 768px) and (orientation: portrait) {

    .testimonial {
        max-width: 300px;
    }


  

    .home-gallery {
        flex-direction: column;
    }

    .home-gallery img {
        margin: 0 auto;
        border-radius: 10px;
    }


}





@media (min-width: 769px) and (max-width: 1024px) {}

@media (min-width: 1025px) and (min-device-pixel-ratio: 2) {

    /* Styles for high-density screens */

}

@media (min-width: 1025px) {

    /* Styles for high-density screens */

}

@media (hover: hover) and (pointer: fine) {
    /* Styles for devices with fine pointer control (e.g., mouse) and hover capability */
}