.our-story-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 100dvh;
    padding: 5rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
}


.our-story-container-header {
    padding: 2rem 1rem;
}

.our-services-title {
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: clamp(30px, 3vw, 50px);
    letter-spacing: 2px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.our-services-paragraph {
    font-family: var(--ff-primary);
    font-size: clamp(16px, 2vw, 20px);
    color: var(--clr-fontcolor);
    text-align: center;
    line-height: 1.5;
    text-align: center;
}



.our-story-items-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    gap: 2rem;
    max-width: 1240px;
    margin: 0 auto;
}

.our-story-items-container div {
    flex: 1;
    max-width: calc(30.333% - 2rem);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
}


.services-icon {
    max-width: 300px;
    max-height: 300px;
    width: 300px;
    border-radius: 15px;
    border: 1px solid var(--clr-accent);
}

.services-icon:hover {
    transform: scale(0.99);
    transition: all 0.3s ease;

}

.service-item {
    font-family: var(--ff-secondary);
    color: var(--clr-secondary);
    font-weight: 600;
}

.service-description {
    font-family: var(--ff-primary);
    line-height: 1.3;

}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in:nth-child(1) {
    animation-delay: 0.2s;
    /* Delay for the first item */
}

.fade-in:nth-child(2) {
    animation-delay: 0.4s;
    /* Delay for the second item */
}

.fade-in:nth-child(3) {
    animation-delay: 0.6s;
    /* Delay for the third item */
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .our-story-items-container {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        /* Center items */
        gap: 3rem;
    }

    .our-story-items-container div {
        max-width: 100%;
        /* Allow items to take full width */
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .our-story-items-container div {
        max-width: calc(45% - 2rem);
        /* Two items per row on medium screens */
    }
}

@media (min-width: 1025px) {
    .our-story-items-container div {
        max-width: calc(30.333% - 2rem);
        /* Three items per row on larger screens */
    }
}



/* Homepage Gallary Images */

/* Homepage images */

.home-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    max-width: 1240px;
    margin: 0 auto;
    min-height: 80dvh;
    padding: 5rem 1rem;
}

.home-gallery img {
    max-width: calc(30.333% - 2rem);
    border-radius: 10px;
}


@media (max-width: 768px) {
    .home-gallery {
        flex-direction: column;
        /* Stack items vertically on smaller screens */
        align-items: center;
        /* Center items */
        gap: 3rem;
    }

    .home-gallery img {
        max-width: 100%;
        /* Allow items to take full width */
    }
}