/* Apply styles to the table */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    min-height: 100vh;
    padding: 4rem 1rem;

}

.services div {
    max-width: 1340px;
    margin: 0 auto;

}

.services div img {
    max-width: 350px;
    height: auto;
    border-radius: 20px;
    border: 2px solid var(--clr-secondary);
    box-shadow: 0 10px 15px rgba(196, 17, 216, 0.1);
}




.services-header {
    color: var(--clr-secondary);
    font-size: clamp(60px, 3vw, 100px);
    line-height: 1;
    letter-spacing: 1px;
    font-family: var(--ff-secondary);
    font-weight: 300;

}

.cornrows p,
.braids p,
.treatments p {
    max-width: 500px;
    color: var(--clr-fontcolor);
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.3;
    letter-spacing: 1px;
    font-family: var(--ff-primary);
    font-weight: 300;
}

.name-link {
    color: var(--clr-accent);
    font-weight: 400;
    font-size: clamp(18px, 3vw, 20px);
    line-height: 1.3;
    letter-spacing: 1px;
    font-family: var(--ff-primary);

}

/* Add some hover effect to rows */

.cornrows {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 0;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.cornrows div,
.treatments div {}

.service-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    height: max-content;
}

.service-text p {
    margin-bottom: 2rem;
}



.cornrows div:nth-child(2),
.treatments div:nth-child(2),
.braids div:nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 1;
    padding: 1rem;
}





.braids {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem 0;
    gap: 1rem;

}



.treatments {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    gap: 1rem;
    padding: 2rem 0;

}



.css-button-retro--rose {
    min-width: 130px;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border: 1px solid var(--clr-accent);
    color: var(--clr-secondary) !important;
    background: transparent;
    z-index: 0;
    font-family: var(--ff-secondary);
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
}

.css-button-retro--rose:hover:after {
    top: 0;
    left: 0;
}

.css-button-retro--rose:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 5px;
    left: 5px;
    transition: 0.2s;
    background-color: var(--clr-primary);
}

.css-button-retro--rose:hover {
    color: var(--clr-accent);
}

.css-button-retro--rose:hover {
    line-height: 1.3;
    text-decoration: none;
}




@media (max-width: 768px) and (orientation: portrait) {

    .braids,
    .cornrows,
    .treatments {
        flex-direction: column;
    }

    table {

        min-width: 100%;
    }

    .services div img {
        max-width: 100%;
        height: auto;
        border-radius: 20px;
    }


}