.faq-container-ourstory {
  max-width: 1140px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
  background-color: var(--clr-accent);
}

.faq-big-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.faqq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}



.faq {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid var(--clr-secondary);
  padding: 10px;
  margin-bottom: 0.50rem;
  position: relative;
  overflow: hidden;
  transition: border 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  max-width: 500px;


}

.faq:hover {
  border: 2.5px solid var(--clr-neutral-900);
}

.faq.active {
  background-color: #fff;
  border: 1px solid var(--clr-primary);
  box-shadow: 0 3px 10px rgba(139,
      69,
      19), 0 3px 6px rgba(254,
      234,
      208);
  padding: 20px;
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: var(--clr-primary);
  font-size: 7rem;
  position: absolute;
  top: 20px;
  left: 20px;
  transition: opacity 0.3s ease;
  /* Smooth opacity transition */
  opacity: 0.01;
  z-index: 0;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

.faq-title {
  font-family: var(--ff-secondary);
  color: var(--clr-secondary);
  font-weight: 400;
  line-height: 1.3;
  font-size: clamp(18px, 3vw, 20px);
  width: 100%;
}

.faq-text {
  font-family: var(--ff-primary);
  color: var(--clr-neutral-900);
  font-weight: 300;
  max-height: 0;
  margin: 10px 0 0;
  line-height: 1.3;
  font-size: clamp(16px, 2vw, 18px);
  transition: max-height 0.3s ease, opacity 0.3s ease;
  overflow: hidden;
  opacity: 0;
  max-width: 90%;
}

.faq.active .faq-text {
  max-height: 200px;
  opacity: 1;
}

.faq-toggle {
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: absolute;
  top: 15px;
  right: 30px;
  width: 30px;
  height: 20px;
}



.faq-toggle:focus {
  outline: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active .faq-toggle .fa-times {
  color: var(--clr-accent);
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq.active .faq-toggle {
  padding: 1rem;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .faqq {
    flex-direction: column;
    /* Stack items on smaller screens */
  }

  .faq {
    padding: 15px;
    /* Adjust padding for smaller screens */
  }

  .faq-title {
    font-size: clamp(14px, 3vw, 16px);
    /* Responsive font size */
  }

  .faq-text {
    font-size: clamp(13px, 2vw, 15px);
    /* Responsive font size */
  }
}