/* Back to top */

.backToTopBtn {
    display: none;
    position: fixed;
    bottom: 50px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    background-color: var(--clr-primary);
    border-radius: 5px;
    width: 60px;
    padding: 5px;
}

.backToTopBtn:hover {
    background-color: var(--clr-accent);
}


/* Our Story */



.our-story {
    max-width: 1240px;
    margin: 0 auto;
    padding: 5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100dvh;
}

.our-story-page-header-container {}

.our-story-page-header {
    display: block;
    color: var(--clr-secondary);
    font-size: clamp(22px, 5vw, 50px);
    line-height: 1.3;
    letter-spacing: 2px;
    font-weight: 700;
    font-family: var(--ff-secondary);
}


.our-story-page-subtitle {
    display: block;
    color: var(--clr-neutral-900);
    font-size: clamp(18px, 3vw, 30px) !important;
    line-height: 1.2;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: var(--ff-primary);
}

.our-story-content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
    max-width: 900px;
}

.our-story-content p {
    color: var(--clr-accent);
    font-size: clamp(16px, 2vw, 20px);
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: var(--ff-primary);
    font-weight: 300;
}

.our-policies-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    max-width: 900px;
}



.our-policies-content p {
    color: var(--clr-neutral-900);
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: var(--ff-primary);
    font-weight: 300;
}

.our-policies-content p span {
    color: var(--clr-secondary);
    font-size: clamp(14px, 2vw, 16px);
    line-height: 1.5;
    letter-spacing: 1px;
    font-family: var(--ff-secondary);
    font-weight: 700;
    display: block;
}





/* Basic Layout */

/* ...existing code... */

.team-member-container {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--clr-neutral);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.meetourfamily {
    text-align: center;
}

.team-member-title {
    color: var(--clr-secondary);
    line-height: 1;
    letter-spacing: 1px;
    font-family: var(--ff-accent);
    font-size: clamp(50px, 4vw, 80px);
    text-align: center;
    letter-spacing: 2px;
    font-weight: 700;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
}

.team-member {
    flex: 1;
    min-width: calc(33.333% - 16px);
    text-align: center;
    margin: 8px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    padding: 1rem;

    transition: transform 0.3s ease;
    /* Added transition */
}

.team-member img {
    border-radius: 45%;
    transition: transform .3s ease;
    border: 5px solid var(--clr-primary);
    max-width: 250px;
    box-shadow: 2px 2px 20px rgba(235, 155, 232, 0.756);
    /* Added text shadow */
}

.team-member:hover img {
    transform: scale(0.95);
    /* Slightly less scale for a subtle effect */
}

.team-member h3 {
    color: var(--clr-secondary);
    line-height: 1;
    letter-spacing: 1px;
    font-family: var(--ff-primary);
    font-size: clamp(20px, 2vw, 40px);
    text-align: center;
    font-weight: 700;
    transition: transform 0.3s ease;
    /* Added transition */
}

.team-member:hover h3 {
    transform: scale(1.05);
    /* Subtle scale on hover */
}

.team-member p {
    color: var(--clr-accent);
    font-size: clamp(16px, 3vw, 18px);
    letter-spacing: 2px;
    line-height: 1;
    letter-spacing: 1px;
    font-family: var(--ff-secondary);
    transition: color 0.3s ease;
}

.team-member:hover p {
    color: var(--clr-primary);
    /* Change color on hover */
}

/* For phones */

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .team-member {
        min-width: calc(50% - 16px);
        /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
    .team-member {
        min-width: 100%;
        /* Stack on very small screens */
    }
}





/* Contact Page */

#contact {
    min-height: 100vh;
    padding-top: 5rem;
    margin: 1rem;
}

.contact-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: var(--clr-neutral);
    border: 1px solid var(--clr-accent);
    border-radius: 50px;
    max-width: 1240px;
    margin: 1rem auto;
    padding: 1rem;
}

/* Optional: Style for articles within the contact section */
.contact-section article {
    padding: 1rem;
    flex: 1;
    min-width: 300px;
}

.contact-section article:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 5rem;
    flex: 1;
    flex: 35%;

}



.contact-section article:nth-child(2) {
    flex: 55%;

}


.contact-section article section {
    display: flex;
    flex-direction: column;
    gap: 0.50rem;

}

.visit-us {
    color: var(--clr-secondary);
    font-size: clamp(20px, 3vw, 24px);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 900 !important;
    margin-top: 0.50rem;
    margin-bottom: 0.50rem;

}

.contact-section article p {
    color: var(--clr-neutral-900);
    font-size: clamp(18px, 3vw, 20px);
    font-family: var(--ff-secondary);
    font-weight: 300;
    line-height: 1;

}

.email-link--span {
    color: var(--clr-secondary) !important;
    text-decoration: none;
    font-weight: 400;
}

.email-link:hover {
    color: var(--clr-secondary);
}



.visit-us {
    color: var(--clr-secondary);
    font-size: clamp(20px, 3vw, 24px);
    font-family: var(--ff-primary);
    text-transform: uppercase;
    font-weight: 900 !important;
    margin-top: 0.50rem;

}

.company-name {
    color: var(--clr-secondary);
    font-size: clamp(18px, 3vw, 22px);
    font-family: var(--ff-primary) !important;
    text-transform: uppercase;
    font-weight: 700;
}

.address-header {
    color: var(--clr-secondary);
    font-size: clamp(20px, 3vw, 22px);
    font-family: var(--ff-primary);
    font-weight: 700 !important;
    margin-top: 1rem;
    margin-bottom: 0.30rem;
    text-transform: uppercase;

}

address {
    text-decoration: none;
    color: var(--clr-secondary);
    font-size: clamp(20px, 3vw, 22px);
    font-family: var(--ff-primary);
    font-weight: 400 !important;
    text-decoration: none;


}





/* Map */

.mapouter {
    display: flex;
    text-align: right;
    height: auto;
    margin: 0 auto;
    padding: 2rem 0;
}

.mapouter div {
    padding: 1rem;
    flex: 1;

}

.mapouter div p {}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: auto;
}

.gmap_iframe {
    height: 500px !important;
    border-radius: 40px;
}



/* Extra */

.containers {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100dvh;
    max-width: 1440px;
    margin: 0 auto;
    gap: 2rem;
    padding: 3rem 0.50rem;

}

.item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    max-width: 550px;

}

.left {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0.50rem;
}

.left h2 {
    color: var(--clr-secondary);
    text-transform: uppercase;
    font-size: clamp(25px, 4vw, 60px) !important;
    line-height: 1.1;
    font-family: var(--ff-primary);
    letter-spacing: 10px;
    font-weight: 900;
}



.left p {
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.5;
    font-family: var(--ff-primary);
    letter-spacing: 2px;
    color: var(--clr-neutral-900);
    font-weight: 300;
}



.right {
    display: flex;
    align-items: center;
}

.right img {
    max-width: 500px;
    border-radius: 50px;
    display: block;
    height: auto;
    background: transparent;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
    border: 2px solid var(--clr-primary);
}


@media (max-width: 768px) and (orientation: portrait) {

    .left {
        text-align: center;
    }
}