/* Testimonial */

.testimonial-container-outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    row-gap: 2rem;
    padding: 3rem 0;
    min-height: 100dvh;
}



.testimonial-container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    white-space: nowrap;
    padding: 3rem 0.10rem;
    background-color: var(--clr-neutral);
}

.servicespage {}



.testimonial {
    width: 350px;
    padding: 1rem;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    margin-right: 20px;
    backdrop-filter: blur(18px);
    border-radius: 5px;
    box-shadow: 0 8px 32px 0 rgba(243, 168, 155, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 10;
    color: var(--clr-neutral-900);
    height: 200px;
    border: 1px solid var(--clr-accent);
    /* Set a fixed height */
}

.services-page {
    height: auto !important;
}

.testimonial p:nth-of-type(2):before {}

.testimonial p:nth-of-type(2) {
    margin-top: 1rem;
    font-family: var(--ff-secondary);
    font-weight: 600;
    color: var(--clr-secondary);
    font-size: clamp(18px, 2vw, 20px);
}


.testimonial p {
    color: var(--clr-accent-two);
    font-size: clamp(16px, 2vw, 18px);
    line-height: 1.2;
    letter-spacing: 1px;
}

.testimonial-container-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    background-color: var(--clr-primary);
    padding: 3rem 1rem;
    border-radius: 10px;
    margin: 0 1rem;
}

.testimonial-container-header h4 {
    flex: 60%;
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: clamp(30px, 4vw, 70px);
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    padding: 0.50rem;
}

.testimonial-container-header p {
    flex: 40%;
    color: var(--clr-neutral-900);
    font-family: var(--ff-primary);
    font-size: clamp(20px, 4vw, 20px);
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
    padding: 0.50rem;
}

@media (max-width: 768px) and (orientation: portrait) {
    .testimonial-container-header {
        display: flex;
        flex-direction: column;
        gap: 3rem;

    }
}